#Android generated
bin/*
gen/*
proguard/*
Sudoku/proguard/*
Sudoku/ant.properties
Sudoku/bin/*
Sudoku/gen/*
Sudoku/project.properties
Sudoku/local.properties
Sudoku/ant.properties
Sudoku/proguard.cfg
Sudoku/project.properties
Sudoku/proguard-project.txt
v7/appcompat_v7/bin/*
v7/appcompat_v7/gen/*
v7/appcompat_v7/project.properties
v7/appcompat_v7/proguard-project.txt
v7/appcompat_v7/local.properties
v7/appcompat_v7/build.xml
#Eclipse
.project
.classpath
.settings
.properties
.cfg
.prefs
.temp
.txt